*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    /* font-family:Verdana, Geneva, Tahoma, sans-serif; */
}

.card{
    padding: 0;
    border-radius: 0;
    border: none;
}

.card > h1{
    background-color: skyblue;
    padding: 2rem;
    text-align: center;
    font-size: 3rem;
}

.cards{
    display: flex;
    justify-content: center;
    gap: 5rem;
    margin: 4rem 0;
    flex-wrap: wrap;
}

.profile-card{
    width: 20rem;
    border: 0.1rem solid black;
    border-radius: 1rem;
    padding: 1rem;
}

img{
    width: 100%;
}

.card-img{
    width: 100%;
}

.profile-card > h3{
    font-size: 2rem;
    margin-top: 1rem;
}

.profile-card > span{
    margin-bottom: 1.5rem;
    display: block;
}